<div class="ui two column centered grid">
  <div class="column">
    <h2>Password reset code</h2>
    <p>Copy and paste this...</p>

    <div class="ui message compact">
      <div class="header">
        <%= @user.reset_password_token %>
      </div>
    </div>
  </div>
</div>
